# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled examples, as per docs
example
naval_fate
run_testcase
run_testcase.exe

# CMake temporary files
CMakeCache.txt
CMakeFiles
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
cmake_install.cmake
docopt-config-version.cmake

# Files configured by CMake
run_tests
